{% extends 'layouts/main.html.twig' %}
{% block title %}index{% endblock %}
{% block main %}
    {% if session.user is not empty %}
        <h3>Привет, {{ session.user.name }}</h3>
        <form method="POST" action="/">
            <button name="logout">Выйти</button>
        </form>
    {% endif %}
{% endblock %}